body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background-color: #f86449;
  color: white;
  margin: 0;
  font-family: rubik;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-left: 30px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
  padding-right: 44px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
#pokedex {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
  height: 220px;
  width: 200px;
  border-radius: 8px;
}

.card:hover {
  animation: bounce 0.5s linear;
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
}
.card-subtitle {
  margin-top: 5px;
  color: #666;
  font-weight: lighter;
}

.card-image {
  height: 180px;
}

@keyframes bounce {
  20% {
      transform: translateY(-6px);
  }
  40% {
      transform: translateY(0px);
  }

  80% {
      transform: translateY(-2px);
  }
  100% {
      transform: translateY(0);
  }
}

#myInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  color: black;
  display: inline-block;
}


.overlay {
	opacity:1;
	position:fixed;
	top:-999em;
	left:-999em;
	width:100%;
	height:100%;
	display:table;
	background-color: #f86449;
	-webkit-animation: splash 14s forwards; 
  animation: splash 14s forwards;
  z-index: 3;
}
.overlay-inner {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.message {
	display: inline-block;
	vertical-align: middle;
	width:50%;
	padding:10px;
  text-align: center;
}

.img {
  position: relative;
  animation: spin 1.5s;
  animation-delay: .125s;
  animation-iteration-count: infinite;
  width: 200px;
  height: 200px;
}

.loading-title {
  position: relative;
  bottom: 0;
  width: 100%;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@-webkit-keyframes splash {
  0%   {opacity: 1;top:0;left:0}
	20% {opacity:1;top:0;left:0}
	60% {opacity:1;top:0;left:0}
	99% {top:1;left:0}
	100% {opacity:0;top:-999em;left:-999em}
}

@keyframes splash {
  0%   {opacity: 1;top:0;left:0}
	20% {opacity:1;top:0;left:0}
	60% {opacity:1;top:0;left:0}
	99% {top:1;left:0}
	100% {opacity:0;top:-999em;left:-999em}
}